ion-content{

    --background: #ffff;

}

ion-toolbar,ion-card-header{

  --background: #012c56;
  --color: #ffff;

 

}
.ion-button{
  width: 250px; 
  margin-left: auto;

}
ion-card{

    --background: #ffff;
    border-radius: 15px;

}

ion-list{

   background: #ffff;

}

div{

  --background :#ffff;
  overflow-y: auto;
}
ion-item{

--background: #ffff;
--color: #17202A;

}

ion-input{

  --color: #17202A;

}

ion-card-header{
    
    --color: #D4AC0D;
   
   }

div{

 --background :#ffff;

}

.hola{

    color :#17202A;

}

  @media (max-width: 450px) {
    ion-card,.id {
      max-width: 450px; // Ajustar el maximo de ancho
      margin: 0 auto;
      position: relative;
      top: 10px; // Ajustar posicion (espacio) desde arriba.
    }
}



